.card {
  border: 1px solid #de70ab;
  height: 47mm;
  width: 128mm;
  display: flex;
}

.card:not(:first-child) {
  border-top: none;
}

/* .card:first-child {
  border-top-left-radius: 11px
} */

.card-left {
  border-right: 1px solid #de70ab;
  width: 3cm;
  display: flex;
  flex-direction: column;
}

.card-left-top {
  width: 100%;
  height: 3.2cm;
  border-bottom: 1px solid #de70ab;
}

.card-left-top>img {
  max-width: 100%;
  max-height: 100%;
}

.card-left-bottom {
  display: flex;
  flex-direction: initial;
  height: 1.5cm;
}

.card-left-bottom-left {
  width: 1cm;
  height: 1.5cm;
  border-right: 1px solid #de70ab;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22pt;
}

.card-left-bottom-right {
  width: 2cm;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-right {
  display: flex;
  flex-direction: column;
}

.card-right-block {
  box-sizing: border-box;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 6px;
  position: relative;
  width: 9.8cm;


}

.card-right-block:first-child {
  flex-shrink: 0;
  display: block;
  height: 1.3cm;
}

.card-right-block:nth-child(2) {
  flex-grow: 1;
  padding-top: 6px;
}

.card-right-block:nth-child(3) {
  flex-shrink: 0;
}

.card-right-block:not(:last-child) {
  border-bottom: 1px dashed #de70ab;
}

.meaning-icon {
  font-size: 7px;
  color: white;
  background-color: #de70ab;
  height: 10px;
  line-height: 11px;
}

.some-meaning {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.some-meaning-symbols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.some-meaning-symbols>div {
  border: 1px solid #de70ab;
  width: 3.6em;
  text-align: center;
  font-size: 8px;
  line-height: 10px;
  height: 10px;
}

.some-meaning-symbols>div:nth-child(-n+2) {
  margin-bottom: 5px;
}

.mini-block:not(:last-child) {
  border-right: none;
}

.mini-block {
  width: 0.6cm;
  height: 0.6cm;
  border: 1px solid #de70ab;
}

.mini-block>img {
  max-width: 100%;
  max-height: 100%;
}

.mini-block-container {
  display: flex;
  margin-top: 2px;
  float: right;
}

.reading-caption {
  border: 1px solid;
  border-radius: 2px;
  font-size: 10px;
  margin-right: 7px;
}

.circle {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  border: 1px solid #de70ab;
  color: #000;
  align-items: center;
  justify-content: center;
  position: absolute;
  display: flex;
  /* margin-top: -1px;
  margin-left: -1px; */
}

.icon {
  color: white;
  background-color: #de70ab;
  line-height: 11px;
  border-radius: 2px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.list-element {
  display: flex;
  text-wrap: nowrap;
}

.bottom-text-block {
  display: flex;
  flex-direction: column;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
}

page>div {
  padding: 9mm 9mm 12.9mm 9mm;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}

page[size="A5"] {
  width: 14.8cm;
  height: 20.9cm;
}

page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}

@media print {

  body,
  page {
    background: white;
    margin: 0;
    box-shadow: 0;
  }
}

* {
  font-family: "FontName";
  font-size: 10px;
  line-height: 15px;
}

@font-face {
  font-family: 'FontName';
  src: url("./fonts/TBMincho.ttf");
}

.example-text-color {
  color: #de70ab;
}

.page-num {
  display: flex;
  height: 100%;
  padding-top: 10px;
}

.bookmark-group {
  position: absolute;
  padding-left: 0;
  width: 0.8cm;
  margin-top: 0.5cm;
}

.bookmark-mark {
  width: 0.8cm;
  height: 0.5cm;
  background: black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 6px;
}

.bookmark-kanji {
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  width: 0.8cm;
}

fg::before {
  position: absolute;
  content: attr(t);
  display: flex;
  font-size: 50%;
  justify-content: center;
  line-height: 0;
  width: 100%;
  white-space: nowrap;
}

fg {
  display: inline-block;
  position: relative;
}